# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

catalog/faiss.index
catalog/documents.pkl